.gpt3__blog-container_article {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  background-color: var(--color-footer);
}

.gpt3__blog-container_article-image {
  width:100%;
  height:100%;
  background: var(--color-footer);
}
.gpt3__blog-container_article img {
  width:100%;
  height:100%;
}

.gpt3__blog-container_article-content {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  padding:1rem 1.25rem;
  height:100%;
}

.gpt3__blog-container_article-content p {
  font-family:var(--font-family);
  color:#ffffff;
  font-size:12px;
  line-height:35px;
  font-weight:bold;
}

.gpt3__blog-container_article-content h3 { 
  font-family:var(--font-family);
  color:#ffffff;
  font-size:25px;
  line-height:32px;
  font-weight:bold;
  margin-bottom:5rem;
  cursor: pointer;
}

.gpt3__blog-container_article-content p:last-child {
  cursor:pointer;
}


@media screen and (max-width:550px) {
  .gpt3__blog-container_article-content h3 { 
    font-size:18px;
    line-height:25px;
  }
}