.gpt3__cta {
  background: var(--gradient-text);
  margin:2rem 3rem;
  border-radius:4px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.gpt3__cta-content p {
  font-size:16px;
  font-family:var(--font-family);
  line-height:30px;
  font-weight:500;
  font-style:normal;
  margin:0;
}

.gpt3__cta-content h3 {
  font-size:24px;
  font-family:var(--font-family);
  line-height:35px;
  font-weight:800;
  font-style:normal;
  margin:0.5rem 0;
  max-width:400px;
}


.gpt3__cta-button {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:2rem;
}

.button {
  padding:1rem 2rem;
  background-color: #000;
  color:#fff;
  border-radius: 50px;
  border:none;
  outline:none;
  font-size:14px;
  line-height:25px;
  font-family:Manrope;
  font-weight:bold;
  cursor:pointer;
}



@media screen and (max-width:850px) {
  .gpt3__cta {
    flex-direction: column;
    align-items: flex-start;
  }
  .gpt3__cta-content h3 {
    font-size:20px;
    line-height:30px;
  }

  .gpt3__cta-content p {
    font-size:14px;
    line-height:26px;
  }

  .gpt3__cta-button {
    margin:1rem 0rem;
  }
  
}